.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e1b382; /* Sand Tan */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(18, 52, 59, 0.2); /* Night Blue Shadow */
  }
  
  .login-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #c89666; /* Sand Tan Shadow */
    border-radius: 4px;
    background-color: #fff;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #2d545e; /* Night Blue */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #12343b; /* Night Blue Shadow */
  }
  